@tailwind base;
@tailwind components;
@tailwind utilities;

.btn-primary {
  @apply bg-[#194e8a] hover:bg-blue-700 text-white font-bold py-2 px-4;
}
.btn-danger {
  @apply bg-[#b60707] hover:bg-red-600 text-white font-bold py-2 px-4;
}

.carousel {
  overflow: hidden;
  width: 100%;
}

.carousel-inner {
  display: flex;
  transition: transform 0.3s ease;
}

.carousel-item {
  flex: 0 0 calc(100% / 5); /* Each item takes 20% of the container width */
}
